HOST=''
PORT=''
DB_HOST=''
DB_NAME=''
DB_USERNAME=''
DB_PASSWORD=''
REDIS_HOST=''
REDIS_PORT=''
JWT_SECRET_KEY=''
JWT_REFRESH_SECRET_KEY=''
JWT_ALGORHITM=''
AUTH0_DOMAIN=''
AUTH0_API_AUDIENCE=''
AUTH0_ISSUER=''
AUTH0_ALGORHITM=''