fastapi==0.110.1
pydantic-settings==2.2.1
uvicorn==0.29.0
sqlalchemy==2.0.29
asyncpg==0.29.0
redis==5.0.3
alembic==1.13.1
bcrypt==4.0.1
passlib[bcrypt]
pydantic[email]
python-jose[cryptography]
python-multipart==0.0.9